# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.sqlite3
venv/
.env

# VSCode
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Docker
*.dockerignore
docker-compose.override.yml
D:\weaviate_data/

# Pytest cache
.pytest_cache/



infra/hf_cache/

# Node modules
node_modules/

# Build output
.next/
out/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript cache
*.tsbuildinfo

# Coverage reports
coverage/

# pnpm store
.pnpm-store/