services:
  weaviate:
    image: semitechnologies/weaviate:latest
    container_name: weaviate
    ports:
      - "8080:8080"
      - "50051:50051"
    environment:
      - AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED=true
      - QUERY_DEFAULTS_LIMIT=20
    # restart: unless-stopped   # disabled for debugging

  backend:
    build:
      context: ..
      dockerfile: Dockerfile.backend
    volumes:
      - ./hf_cache:/app/.cache/huggingface
    container_name: job-backend
    ports:
      - "8000:8000"
    env_file:
      - ../.env     # change path if .env is in infra/
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - weaviate
    # restart: unless-stopped   # disabled for debugging
